@{
    ViewData["Title"] = "Confirmación de Registro";
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor, confirma tu cuenta de correo electrónico para completar el registro.
</p>

@if (TempData["ConfirmationLink"] != null)
{
    <p>
        Como estás en modo de desarrollo, puedes usar este enlace para confirmar tu correo:
        <a href="@TempData["ConfirmationLink"]">Confirmar correo</a>
    </p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}